.header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
  .burger {
    display: none;
  }
}
.logo {
  width: 24px;
  height: 24px;
  margin-right: 100px;
  display: flex;
  margin-left: 40px;
  img {
    margin-right: 10px;
  }
  &__title {
    font-family: 'roboto', sans-serif;
    font-weight: 900;
    white-space: nowrap;
  }
}
.box {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #ffffff18;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  padding: 36px 0;
  margin-right: 20px;
  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 91%;
    background-color: #fff;
    bottom: 19px;
    left: 42px;
  }
}
.nav {
  display: flex;
  align-items: center;
  &__item {
    margin: 0 15px;
    font-size: 13px;
  }
  &__link {
    white-space: nowrap;
  }
  .close {
    display: none;
  }
}
.locale {
  margin-left: auto;
}

@media (max-width: 770px) {
  .box {
    background-color: transparent;
    &::after {
      display: none;
    }
  }
  .logo {
    margin-right: 160px;
  }
  .header {
    .burger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      height: 12px;
      width: 24px;
      margin-right: 15px;
      margin-left: 20px;
      span {
        height: 2px;
        width: 100%;
        background-color: #fff;
      }
    }
  }
  .nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    padding-left: 0;
    width: 100%;
    height: 100vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -200vh;
    transition: all 0.5s;
    &__link {
      display: block;
      position: relative;
      font-size: 18px;
      color: #fff;
      margin-bottom: 20px;
      overflow: hidden;
      transition: all 0.4s;
      padding-bottom: 5px;
    }
  }
  .nav.active {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
  }
  .nav a::before {
    content: '';
    display: inline-block;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: -100%;
    transition: all 0.4s;
  }
  .nav.active .close {
    transition: all 0.5s;
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    color: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .nav a:hover::before {
    left: 0;
  }
}

@media (max-width: 440px) {
  .header {
    margin-bottom: 20px;
  }
  .box {
    margin-right: 0;
  }
}
