.popup {
  border-radius: 18px;
  padding: 10px 18px;
  box-shadow: 0px 4px 3px 1px rgba(255, 255, 255, 0.158);
  -webkit-box-shadow: 0px 12px 12px 0px rgba(255, 255, 255, 0.158);
  -moz-box-shadow: 0px 4px 3px 1px rgba(255, 255, 255, 0.158);
  .dot {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #fff;
  }
  .subtitle {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  &__text {
    white-space: wrap;
    margin-bottom: 9px;
    display: none;
  }
  span {
    color: #e574bc;
  }
  .active {
    display: block;
    margin-top: 35px;
  }
}
.popup:nth-child(even) {
  background-color: #fff;
  .subtitle {
    color: #000;
  }
  .popup__text {
    color: #000;
  }
  .dot {
    background-color: #000;
  }
}
