.popup {
  &__box {
    padding: 23px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    margin-bottom: 9px;
    display: none;
  }
  .icon {
    width: 40px;
    height: 40px;
    &__reverse {
      fill: #e574bc;
      transform: rotate(180deg);
    }
  }
  .active {
    display: block;
    margin-left: 20px;
    margin-right: 35px;
    margin-bottom: 40px;
  }

  .subtitle {
    color: #ffffff73;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    &__active {
      color: #e574bc;
    }
  }
}
.popup:not(:last-child) {
  border-bottom: 1px solid #fff;
}
