.lets {
  animation: 3s show ease;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 84px;
  font-weight: 700;
  margin-bottom: 35px;
  margin-top: 89px;
  white-space: wrap;
}
.inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 255px;
}
.form {
  padding: 35.5px;
  max-width: 700px;
  width: 100%;
  border-radius: 18px;
  box-shadow: 0px 4px 3px 1px rgba(255, 255, 255, 0.158);
  -webkit-box-shadow: 0px 12px 12px 0px rgba(255, 255, 255, 0.158);
  -moz-box-shadow: 0px 4px 3px 1px rgba(255, 255, 255, 0.158);
}
.subtitle {
  font-size: 14px;
  margin-bottom: 18px;
  color: #e574bc;
}
.box {
  width: 100%;
  padding: 21px 18px;
  background-color: #fff;
  margin-bottom: 18px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.input {
  margin-left: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}
.link {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 25px;
  justify-content: center;
  font-size: 14px;
  margin-top: 35px;
  background-color: #ffffff0c;
  transition: all 0.3s;
  &:hover {
    background-color: #e574bc;
    border-color: #e574bc;
  }
}
.icon {
  margin-left: 8px;
}
.img {
  max-width: 640px;
  width: 100%;
  border-radius: 18px;
  box-shadow: 0px 4px 3px 1px rgba(255, 255, 255, 0.158);
  -webkit-box-shadow: 0px 12px 12px 0px rgba(255, 255, 255, 0.158);
  -moz-box-shadow: 0px 4px 3px 1px rgba(255, 255, 255, 0.158);
}

@media (max-width: 1178px) {
  .inner {
    margin-bottom: 40px;
  }
  .img {
    display: none;
  }
  .form {
    margin: 0 auto;
    box-shadow: 0px 4px 6px 0px rgba(255, 255, 255, 0.158);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(255, 255, 255, 0.158);
    -moz-box-shadow: 0px 4px 6px 0px rgba(255, 255, 255, 0.158);
  }
  .title {
    font-size: 64px;
    line-height: 74px;
    text-align: left;
  }
}
