.inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  &__content {
    margin-right: 24px;
  }
}
.img {
  margin-right: 18px;
}
.box {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  p {
    font-size: 14px;
  }
}
.title {
  font-family: 'Roboto', sans-serif;
  font-size: 68px;
  color: #e574bc;
}
